:root {
    --fontti-perhe-leipäteksti: opensans;
    --fontti-perhe-otsikko: opensans;
    --fontti-perhe-nappi: opensans;
    --fontti-perhe-logo: fugazone;
    --fontti-koko-leipäteksti: 0.86rem;
    --fontti-koko-otsikko: 1.25rem;
    --fontti-koko-nappi: 1rem;
    --fontti-koko-listaus: 1rem;
    --fontti-koko-logo-mobiili: 2.25rem;
    --fontti-paksuus-otsikko: 500;
    --fontti-paksuus-listaus: 500;
    --väri-musta: #161a1c;
    --väri-valkoinen: #fff;
    --väri-ensisijainen: #EE6622;
    --väri-toissijainen: #f17d43;
    --väri-tausta: #23272b;
    --väri-teksti-yläpalkki: #f8f9fa;
    --väri-teksti-alapalkki: #ced4da;
    --väri-teksti-sisältö: #000;
    --väri-reunus: #858b90;
    --väri-harmaa: #9a9a9a;
    --väli-x1: 10px;
    --väli-x2: 20px;
    --väli-x3: 30px;
    --väli-x4: 40px;
    --väli-x5: 50px;
}

.projekti-banneri {
    height: 50px;
    position: fixed;
    width: 100%;
}

#projektini {
    font-size: medium;
    margin-left: -150px;
    min-width: 150px;
    display: inline-block;
}

#projektini:hover {
    color: var(--väri-musta);
}

.sisältö {
    padding-top: 50px;
}

body {
    margin: 0 auto;
    font-family: opensans;
    font-size: var(--fontti-koko-leipäteksti);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: var(--fontti-koko-otsikko);
    font-weight: var(--fontti-paksuus-otsikko);
}

* {
    box-sizing: border-box;
}

.sivun-yläpalkki {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 75px;
    background-color: var(--väri-tausta);
    color: var(--väri-teksti-yläpalkki);
    height: 120px;
    position: fixed;
    width: 100%;
}

.sivun-yläpalkki__ylempi-rivi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 2px;
    align-items: center;
}

.sivun-yläpalkki__ylempi-rivi__otsikko,
.sivun-yläpalkki__ylempi-rivi__otsikko-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, #ff6000, #f6b210);
    border-radius: 50%;
    width: 100px;
    height: 50px;
    text-align: center;
    align-items: center;
}

.logo,
.logo-mobiili {
    color: white !important;
    font-family: fugazone;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
}

.sivun-yläpalkki__ylempi-rivi__otsikko-mobiili {
    display: none;
}

.sivun-yläpalkki__ylempi-rivi__haku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #161a1c;
    width: 70%;
    height: 50px;
    align-self: center;
    border-radius: 2px;
    border: solid 2px rgba(206, 212, 218, 0.6);
}

.hakupalkki {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hakupalkki-mobiili {
    display: none;
}

.sivun-yläpalkki__ylempi-rivi__haku-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.sivun-yläpalkki__ylempi-rivi__hae-tuotteista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    width: 100%;
    margin-right: 10px;
}

.sivun-yläpalkki__ylempi-rivi__hae-tuotteista:active {
    border: none;
}

input:focus {
    outline: none;
}

.sivun-yläpalkki__ylempi-rivi__tili {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oma-tili {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15 15;
    border-radius: 2px;
    align-content: center;
}

.oma-tili:hover {
    background-color: white;
    border-radius: 2px;
    color: #161a1c;
}

.oma-tili:hover .oma-tili-ikoni--tumma {
    display: flex;
}

.oma-tili:hover .oma-tili-ikoni--vaalea {
    display: none;
}

.oma-tili-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.oma-tili-ikoni--tumma {
    display: none;
}

.sivun-yläpalkki__ylempi-rivi__kirjaudu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px white;
    min-width: 51.5px;
    max-width: 51.5px;
    min-height: 51.5px;
    max-height: 51.5px;
    align-self: center;
    border-radius: 2px;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    min-width: 51.5px;
    max-width: 51.5px;
    min-height: 51.5px;
    max-height: 51.5px;
    align-self: center;
    border-radius: 2px;
    background-color: white;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori__kuva--vaalea {
    display: flex;
    flex-direction: row;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori__kuva--tumma {
    display: none;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori:hover .sivun-yläpalkki__ylempi-rivi__ostoskori__kuva--vaalea {
    display: none;
}

.sivun-yläpalkki__ylempi-rivi__ostoskori:hover .sivun-yläpalkki__ylempi-rivi__ostoskori__kuva--tumma {
    display: flex;
    flex-direction: row;
}

.sivun-yläpalkki__alempi-rivi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sivun-yläpalkki__alempi-rivi__tietokoneet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
    padding-left: 0;
}

.sivun-yläpalkki__alempi-rivi__komponentit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__oheislaitteet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__pelaaminen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__sim-racing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__verkkotuotteet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__tarvikkeet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__erikoistuotteet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__ohjelmistot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__palvelut {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
}

.sivun-yläpalkki__alempi-rivi__kampanjat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12 12;
    flex: 1;
    padding-right: 0;
}

.sivun-yläpalkki__alempi-rivi__tietokoneet:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__komponentit:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__oheislaitteet:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__pelaaminen:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__sim-racing:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__verkkotuotteet:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__tarvikkeet:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__erikoistuotteet:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__ohjelmistot:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__palvelut:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__kampanjat:hover {
    background-color: white;
}

.sivun-yläpalkki__alempi-rivi__tietokoneet:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__komponentit:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__oheislaitteet:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__pelaaminen:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__sim-racing:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__verkkotuotteet:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__tarvikkeet:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__erikoistuotteet:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__ohjelmistot:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__palvelut:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-yläpalkki__alempi-rivi__kampanjat:hover a {
    background-color: white;
    color: #EE6622;
    text-decoration: none;
}

.sivun-alapalkki {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ced4da;
    padding-top: 10px;
}

.sivun-alapalkki__harmaa-alue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #23272b;
    padding: 0 75px;
}

.sivun-alapalkki__harmaa-alue__yläosa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.sivun-alapalkki__harmaa-alue__yläosa__rivi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yläosa__rivi__sarake-vasen,
.yläosa__rivi__sarake-oikea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alaosa__rivi__sarake-vasen,
.alaosa__rivi__sarake-oikea {
    display: none;
}

.sivun-alapalkki__harmaa-alue__sarake {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.asiakaspalvelu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asiakaspalvelu__sarake {
    border-bottom: solid 1px var(--väri-reunus);
    padding-bottom: 20px;
    max-width: 90%;
}

.asiakaspalvelu__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.asiakaspalvelu__aukioloajat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aspa-puhelin {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.asiakaspalvelu__puhelin-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.asiakaspalvelu__puhelinnumero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aspa-sähköposti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.asiakaspalvelu__sähköposti-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.asiakaspalvelu__sähköpostiosoite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yritysmyynti {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
}

.yritysmyynti__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yritysmyynti__aukioloajat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yritysmyynti-puhelin {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.yritysmyynti__puhelin-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.yritysmyynti__puhelinnumero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yritysmyynti-sähköposti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.yritysmyynti__sähköposti-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.yritysmyynti__sähköpostiosoite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myymälä {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.myymälä__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myymälä__aukioloajat {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
}

.myymälä__aukioloajat__ma-pe {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
}

.myymälä__aukioloajat__la {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
}

.myymälä__päivät {
    display: flex;
    flex-direction: column;
    padding-right: var(--väli-x4);
}

.myymälä__kellonajat {
    display: flex;
    flex-direction: column;
}

.myymälä__kellonajat__ma-pe {
    display: flex;
    flex-direction: column;
}

.myymälä__kellonajat__la {
    display: flex;
    flex-direction: column;
}

.myymälä__päivät__ma-pe {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 80px;
    padding-right: var(--väli-x3);
}

.myymälä__päivät__la {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: 80px;
    padding-right: var(--väli-x3);
}

.myymälä__maksutavat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.myymälä__sijainti {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
}

.myymälä__sijainti-ikoni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.myymälä__sijainti__osoite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myymälä__katuosoite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myymälä__postinumero-ja-kaupunki {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yhteisöt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.yhteisöt__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yhteisöt__kuvakkeet {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0;
}

.yhteisöt__facebook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.yhteisöt__instagram {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.yhteisöt__twitter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.yhteisöt__youtube {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.yhteisöt__tiktok {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.yhteisöt__linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}

.facebook--oranssi,
.instagram--oranssi,
.twitter--oranssi,
.youtube--oranssi,
.tiktok--oranssi,
.linkedin--oranssi {
    display: none;
}

.yhteisöt__facebook:hover .facebook--vaalea {
    display: none;
}

.yhteisöt__instagram:hover .instagram--vaalea {
    display: none;
}

.yhteisöt__twitter:hover .twitter--vaalea {
    display: none;
}

.yhteisöt__youtube:hover .youtube--vaalea {
    display: none;
}

.yhteisöt__tiktok:hover .tiktok--vaalea {
    display: none;
}

.yhteisöt__linkedin:hover .linkedin--vaalea {
    display: none;
}


.yhteisöt__facebook:hover .facebook--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.yhteisöt__instagram:hover .instagram--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.yhteisöt__twitter:hover .twitter--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yhteisöt__youtube:hover .youtube--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yhteisöt__tiktok:hover .tiktok--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yhteisöt__linkedin:hover .linkedin--oranssi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uutiskirje {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.uutiskirje__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uutiskirje__teksti {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.uutiskirje__nappi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px 0;
}

.uutiskirje__nappi__nappula {
    background-color: #EE6622;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10;
    font-weight: 500;
    font-size: var(--fontti-koko-nappi);
    width: max-content;
    cursor: pointer;
}

.uutiskirje__nappi__nappula:hover {
    background-color: #f17d43;
}

.sivun-alapalkki__harmaa-alue__alaosa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #23272b;
    padding: 0 75px;
}

.sivun-alapalkki__harmaa-alue__alaosa__sisältö {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px grey;
    margin: 10px 0;
}

.info,
.shop-in-shops,
.artikkelit-ja-blogi,
.sertifikaatit-ja-palkinnot {
    padding: 30px 0;
}

.info,
.info-mobiili {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.info__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__yhteystiedot {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__yhteystiedot__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__yhteystiedot__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__toimitustavat {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__toimitustavat__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__toimitustavat__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__maksutavat {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__maksutavat__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__maksutavat__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__takuupalautus {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__takuupalautus__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__takuupalautus__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__palvelut-ja-huolto {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__palvelut-ja-huolto__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__palvelut-ja-huolto__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__ukk {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__ukk__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__ukk__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__yritysmyynti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__yritysmyynti__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__yritysmyynti__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__ura {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__ura__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__ura__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__tuoteturva {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.info__listaus__tuoteturva__ikoni {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 10px;
    margin-bottom: 11.5px;
    min-width: 30px;
}

.info__listaus__tuoteturva__teksti {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops,
.shop-in-shops-mobiili {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.shop-in-shops__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-right: var(--väli-x5);
}

.shop-in-shops__listaus__alemmat {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-right: var(--väli-x5);
}

.shop-in-shops__listaus__apnx {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__ducky {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__endgame-gear {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__kolink {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__nitro-concepts {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__noblechairs {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__streamplify {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__asus {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__acer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__akasa {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__cooler-master {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__corsair {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__fractal-design {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__gigabyte {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__logitech {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.shop-in-shops__listaus__phanteks {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.artikkelit-ja-blogi,
.artikkelit-ja-blogi-mobiili {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.artikkelit-ja-blogi-mobiili {
    padding-top: var(--väli-x2);
}

.artikkelit-ja-blogi__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.artikkelit-ja-blogi__oppaat {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.artikkelit-ja-blogi__blogi {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sertifikaatit-ja-palkinnot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
}

.sertifikaatit-ja-palkinnot__otsikko {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sertifikaatit-ja-palkinnot__kuvat {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.sertifikaatit-ja-palkinnot__kauppa-aviisi-menestyjät {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--väri-valkoinen);
    width: 100px;
    height: 100px;
    margin-right: var(--väli-x2);
    align-items: center;
}

.menestyjät-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: blue;
    width: 92px;
    height: 92px;
}

.menestyjät-ylärivi {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: system;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

.menestyjät-keskirivi {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: system;
    padding: 0;
    margin: 4px 0;
}

.menestyjät-alarivi {
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    font-family: opensans;
    padding: 0;
    margin: 0;
}

.sertifikaatit-ja-palkinnot__vuoden-paras-kauppa-2222 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    align-items: center;
}

.paras-kauppa-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    background-color: yellow;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
}

.paras-kauppa-teksti {
    color: var(--väri-valkoinen);
    background-color: rgb(0, 115, 255);
    width: 140%;
}

.sivun-alapalkki__musta-alue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161a1c;
    color: #ced4da;
    padding: 20px 0;
}

.sivun-alapalkki__musta-alue__linkit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.sivun-alapalkki__musta-alue__linkit__ehdot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sivun-alapalkki__musta-alue__linkit__tietosuojaseloste {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sivun-alapalkki__musta-alue__copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.harmaa-osio__otsikko {
    margin-bottom: 20px;
    color: #e9ecef;
    text-transform: uppercase;
}

a:link,
a:visited {
    color: #e9ecef;
    text-decoration: none;
}

a:hover {
    color: #EE6622;
    text-decoration: none;
}

.sivun-sisältö {
    background-color: white;
    display: flex;
    min-height: 14px;
    max-height: 14px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 120px;
}

ul {
    padding: 0;
    flex-wrap: wrap;
    margin-top: 0;
}

.asiakaspalvelu__aukioloajat,
.yritysmyynti__aukioloajat {
    margin-bottom: 20px;
}

.shop-in-shops__listaus li::after,
.shop-in-shops__listaus__alemmat li::after,
.sivun-alapalkki__musta-alue__linkit__ehdot::after {
    content: "|";
    margin: 2px;
}

.shop-in-shops__listaus__streamplify::after,
.shop-in-shops__listaus__phanteks::after {
    content: "" !important;
}

.hamburger-menu {
    height: 0px;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked~.menu-nappi>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-nappi>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-nappi>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-listaus {
    visibility: visible;
    left: 0;
}

.menu-nappi {
    display: none;
}

.menu-nappi-sulje {
    display: flex;
    align-items: center;
    position: static;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 0;
}

.menu-nappi>span {
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: var(--väri-valkoinen);
    transition-duration: .50s;
    border-radius: 25px;
}

.menu-nappi>span::before {
    content: '';
    top: -8px;
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: var(--väri-valkoinen);
    transition-duration: .50s;
    border-radius: 25px;
}

.menu-nappi>span::after {
    content: '';
    top: 8px;
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: var(--väri-valkoinen);
    transition-duration: .50s;
    border-radius: 25px;
}

.menu-nappi-sulje>span {
    display: block;
    position: absolute;
    width: 26px;
    height: 0px;
    background-color: var(--väri-valkoinen);
    transition-duration: .50s;
    border-radius: 25px;
}

.menu-nappi-sulje>span::before {
    content: '';
    top: 8px;
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: var(--väri-harmaa);
    transition-duration: .50s;
    border-radius: 25px;
    transform: rotate(45deg);
}

.menu-nappi-sulje>span::after {
    content: '';
    top: 8px;
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: var(--väri-harmaa);
    transition-duration: .50s;
    border-radius: 25px;
    transform: rotate(-45deg);
}

.menu-listaus {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 260px;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: var(--väri-valkoinen);
    transition-duration: .50s;
}

.menu-listaus-item {
    display: block;
    padding: 12px 24px;
    font-size: var(--fontti-koko-listaus);
    font-weight: var(--fontti-paksuus-listaus);
    text-decoration: none;
    transition-duration: .50s;
}

.menu-listaus-item a {
    color: var(--väri-musta);
    font-family: var(--fontti-perhe-leipäteksti);
}

.menu-listaus-item:hover {
    background-color: var(--väri-valkoinen);
}

.menu-listaus-item-tyhjä {
    display: flex;
    padding: 30px 24px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .50s;
    background-color: var(--väri-musta);
    flex-direction: row;
    justify-content: space-between;
}

.menu-listaus-div {
    display: flex;
    justify-content: end;
}

@media (max-width: 1275px) {
    #projektini {
        display: none;
    }

    .sivun-yläpalkki__ylempi-rivi__otsikko {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: linear-gradient(to right, #ff6000, #f6b210);
        border-radius: 50%;
        width: 100px;
        height: 50px;
        text-align: center;
        align-items: center;
        margin-left: var(--väli-x2);
        margin-right: var(--väli-x2);
    }

    .sivun-yläpalkki__ylempi-rivi__otsikko-mobiili {
        display: none;
    }

    .logo,
    .logo-mobiili {
        color: white !important;
        font-family: fugazone;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        text-shadow: 2px 2px 2px black;
    }

    .logo-mobiili {
        font-size: var(--fontti-koko-logo-mobiili);
    }

    .oma-tili-ikoni {
        margin: 0;
    }

    .sivun-yläpalkki__ylempi-rivi__kirjaudu {
        display: none;
    }

    .sivun-yläpalkki__alempi-rivi {
        display: none;
    }

    .hakupalkki-mobiili {
        display: none;
    }

    .sivun-yläpalkki__ylempi-rivi__haku {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: #161a1c;
        width: 70%;
        height: 50px;
        align-self: center;
        border-radius: 2px;
        border: solid 2px rgba(206, 212, 218, 0.6);
    }

    .hakupalkki {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .menu-nappi {
        display: flex;
        align-items: center;
        position: static;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 0;
    }

    .sivun-yläpalkki {
        padding: 0 14px;
        padding-bottom: var(--väli-x1);
        padding-top: var(--väli-x1);
        height: 70px;
    }

    .sivun-yläpalkki__ylempi-rivi {
        padding: 0;
    }

    .sivun-alapalkki__harmaa-alue {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__alaosa {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__yläosa__rivi,
    .sivun-alapalkki__harmaa-alue__alaosa__sisältö {
        padding: 0 7px;
        display: flex;
        flex-direction: row;
    }

    .sertifikaatit-ja-palkinnot {
        margin-bottom: var(--väli-x2);
    }
}

@media (max-width: 960px) {
    .sivun-yläpalkki__ylempi-rivi__otsikko {
        display: none;
    }

    .sivun-yläpalkki__ylempi-rivi__otsikko-mobiili {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(to right, #ff6000, #f6b210);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        align-content: center;
        margin-left: var(--väli-x2);
        margin-right: var(--väli-x2);
    }

    .logo-mobiili {
        font-size: var(--fontti-koko-logo-mobiili);
    }

    .oma-tili-ikoni {
        margin: 0;
    }

    .sivun-yläpalkki__ylempi-rivi__kirjaudu {
        display: none;
    }

    .sivun-yläpalkki__alempi-rivi {
        display: none;
    }

    .hakupalkki-mobiili {
        display: none;
    }

    .sivun-yläpalkki__ylempi-rivi__haku {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: #161a1c;
        width: 70%;
        height: 50px;
        align-self: center;
        border-radius: 2px;
        border: solid 2px rgba(206, 212, 218, 0.6);
    }

    .hakupalkki {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    .menu-nappi {
        display: flex;
        align-items: center;
        position: static;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 0;
    }

    .sivun-yläpalkki {
        padding: 0 14px;
        padding-bottom: var(--väli-x1);
        padding-top: var(--väli-x1);
    }

    .sivun-yläpalkki__ylempi-rivi {
        padding: 0;
    }

    .sivun-alapalkki__harmaa-alue {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__alaosa {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__yläosa__rivi,
    .sivun-alapalkki__harmaa-alue__alaosa__sisältö {
        padding: 0 7px;
        display: flex;
        flex-direction: row;
    }

    .yläosa__rivi__sarake-vasen,
    .yläosa__rivi__sarake-oikea {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .alaosa__rivi__sarake-vasen,
    .alaosa__rivi__sarake-oikea {
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex: 1;
        padding: 30px 0;
    }

    .yhteisöt {
        flex: 0;
    }

    .uutiskirje,
    .info,
    .shop-in-shops,
    .artikkelit-ja-blogi,
    .sertifikaatit-ja-palkinnot {
        padding-top: var(--väli-x2);
        flex: 0;
    }

    .info,
    .shop-in-shops,
    .artikkelit-ja-blogi,
    .sertifikaatit-ja-palkinnot {
        display: none;
    }

    .sertifikaatit-ja-palkinnot {
        margin-bottom: var(--väli-x2);
    }
}

@media (max-width: 600px) {
    .projekti-banneri {
        height: 80px;
    }

    .sisältö {
        padding-top: 80px;
    }
}

@media (max-width: 480px) {
    .sivun-yläpalkki__ylempi-rivi__otsikko {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: linear-gradient(to right, #ff6000, #f6b210);
        border-radius: 50%;
        width: 80px;
        height: 40px;
        text-align: center;
        align-items: center;
        margin-left: var(--väli-x3);
    }

    .sivun-yläpalkki__ylempi-rivi__otsikko-mobiili {
        display: none;
    }

    .logo,
    .logo-mobiili {
        color: white !important;
        font-family: fugazone;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        text-shadow: 2px 2px 2px black;
    }

    .oma-tili-ikoni {
        margin: 0;
    }

    .sivun-yläpalkki__ylempi-rivi__kirjaudu {
        display: none;
    }

    .sivun-yläpalkki__alempi-rivi {
        display: none;
    }

    .hakupalkki-mobiili {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        color: #161a1c;
        width: 100%;
        height: 35px;
        align-self: center;
        border-radius: 2px;
        border: solid 2px rgba(206, 212, 218, 0.6);
        margin-top: var(--väli-x1);
    }

    .sivun-yläpalkki__ylempi-rivi__haku {
        opacity: 0;
    }

    .menu-nappi {
        display: flex;
        align-items: center;
        position: static;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 0;
    }

    .sivun-yläpalkki {
        padding: 0 14px;
        padding-bottom: var(--väli-x1);
        padding-top: var(--väli-x1);
        height: 120px;
    }

    .sivun-yläpalkki__ylempi-rivi {
        padding: 0;
    }

    .sivun-alapalkki__harmaa-alue {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__alaosa {
        padding: 0 7px;
    }

    .sivun-alapalkki__harmaa-alue__yläosa__rivi,
    .sivun-alapalkki__harmaa-alue__alaosa__sisältö {
        padding: 0 7px;
        display: flex;
        flex-direction: column;
    }

    .yhteisöt,
    .uutiskirje,
    .info,
    .shop-in-shops,
    .artikkelit-ja-blogi,
    .sertifikaatit-ja-palkinnot {
        padding-top: var(--väli-x2);
    }

    .sertifikaatit-ja-palkinnot {
        margin-bottom: var(--väli-x2);
    }
}